@import url("../../../../styles.css");


.movie-detail{
  background: url(/assets/images/banner-details.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
  background-attachment: fixed;

}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .comment-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-family: var(--ff-poppins);
    border: none;
    overflow: auto;
    outline: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
  }
  
  .comment-button {
    align-self: flex-end;
    padding: 7px 30px;
    font-size: 1em;
    cursor: pointer;
    background: red;
    border-radius: 22px;
    border: 2px solid red;
  }
  .comment-button:hover{
    background: none;
    border: 2px solid white;
  }
  .comment-delete  {
    padding: 0px 5px;
    font-size: 0.7em;
    cursor: pointer;
    background: red;
    border-radius: 22px;
    border: 2px solid red;
    display: inline-flex;
  }
  .comment-delete:nth-child(3){
    margin-top: 5px;
    /* margin-right: 82.3%; */
  }
  .comment-delete:nth-child(4){
    margin-top: 5px;
    margin-left: 67.5%;
  }
  .comment-list{
    list-style: none;
    padding: 0;
    padding-top: 20px;
    border-radius: 12px;
    /* background: rgba(255, 255, 255, 0.51); */
  }
  
  .comment {
    /* margin-top: 10px; */
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 12px;
    width: 49.2%;
    font-family: var(--ff-poppins);
  }
  
  .comment:nth-child(odd) {
    text-align: left;
  }
  .comment:nth-child(even) {
  
    text-align: right;
    color: rgb(37, 37, 150);
    margin: 2% 50.8%;
    }
  
  .comment p {
   margin: 0;
  
  }
  .comment p:nth-child(2) {
    border-bottom: 1px solid rgb(171, 169, 169);
    padding: 5px;
    padding-top: 20px;
  }
  .comment p:last-child{
    padding-bottom: 20px;
  }
  p ~ i {
    font-size: 10px;
    color: gray;
  }
  form textarea {
    width: 100%;
    overflow: auto;
    outline: none;
  }
  li div .comment-delete:first-child {
     cursor:default;
  }
  .no-comments {
    color: black;
    /* text-transform: uppercase; */
    text-align: center;
    margin: 0 auto;
    background: white;
    border-radius: 12px;
    padding: 80px;
    margin-top: 20px;
  }
  