@import url("../../../styles.css");

.movie-detail{
    background:url(/assets/images/banner-details.jpg) no-repeat;
    background-size:cover;
    background-position:center;
    padding-bottom:var(--section-padding);
    background-attachment:fixed;
    padding-top:100px
  }
  .detail-subtitle{
    font-size:var(--fs-5);
    color:var(--theatrix-red);
    font-weight:var(--fw-700);
    margin-bottom:10px
  }
  .detail-title{
    margin-bottom:20px
  }
  .detail-title strong{
    color:var(--theatrix-red)
  }
  @media (min-width:550px){
    :root{
        --fs-1:42px
    }
    .container{
        max-width:540px;
        margin-inline:auto
    }
    .detail-subtitle{
        --fs-5:22px
    }
    .detail-title{
        --fs-1:46px
    }
  }
  @media (min-width:768px){
    :root{
        --fs-2:36px
    }
    .container{
        max-width:720px
    }
    .detail-subtitle{
        --fs-5:26px
    }
    .detail-title{
        --fs-1:50px
    }
  }
  @media (min-width:992px){
    .movie-detail{
        padding-bottom:200px
    }
    .movie-detail .container{
        position:relative;
        display:flex;
        align-items:center;
        gap:50px;
        padding-top:50px
    }
  }
  @media (min-width:1200px){
    :root{
        --fs-1:60px;
        --fs-4:26px
    }
    .container{
        max-width:1320px
    }
    .movie-detail{
        padding-bottom:var(--section-padding)
    }
    .movie-detail-content{
        max-width:620px;
        justify-content:center;
        align-items:center
    }
    .detail-title{
        --fs-1:60px
    }
  }
  .bx-heart,.bx-share-alt,.bxs-heart{
    font-size:30px
  }
  .bxs-heart{
    color:red
  }
  .image-list{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    margin-bottom:30px;
    width:100%
  }
  .image-item{
    display:flex;
    flex-direction:row;
    flex:1 1 auto;
    height:200px
  }
  .image{
    width:auto;
    height:100%;
    object-fit:cover
  }
  .content{
    padding:20px;
    width:1000%;
    box-sizing:border-box;
    background-color:#f0f0f0;
    display:flex;
    flex-direction:column;
    justify-content:space-between
  }
  .movie-title{
    margin-bottom:10px
  }
  .movie-description{
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis
  }
  .buy-tickets-button,.like-button{
    width:100px;
    height:40px;
    margin-left:10px
  }
  .button-container{
    display:flex;
    background-color:#f0f0f0;
    align-items:center;
    padding-right:20px
  }
  