.movie-detail{
    background:url("/assets/images/banner-details.jpg") no-repeat;
    background-size:cover;
    background-position:center;
    padding-bottom:var(--section-padding);
    background-attachment:fixed;
    padding-top:100px;
    color: white;
}
form.register{
    display:flex;
    flex-direction:column;
    max-width:400px;
    width:100%;
}
input.register{
    color:var(--white);
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 30px;
    border:2px solid var(--light-gray);
    border-radius:50px;
    transition:var(--transition-1);
    margin-bottom:15px;
    background-color:rgba(255,255,255,.1);
    outline:0;
}
input.register:focus{
    background-color:rgba(255,255,255,0)
}
button.register{
    color:var(--white);
    background-color:var(--light-gray);
    border:2px solid var(--light-gray);
    border-radius:50%;
    padding:16px 30px;
    cursor:pointer;
    transition:var(--transition-1);
    outline:0;
}
button.register:hover{
    background-color:#ccc
}
.container-reg-log-edit{
    padding-inline:15px;
    display:flex;
    justify-content:center;
    padding-top:30px;
    overflow: auto;
}
.wrapper{
    width:420px;
    background:0 0;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(9px);
    color:#fff;
    border-radius:12px;
    padding:30px 40px;
}
.wrapper h1{
    font-size:36px;
    text-align:center;
}
.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
    margin:30px 0;
}
.input-box input{
    width:100%;
    height:100%;
    background:0 0;
    border:none;
    outline:0;
    border:2px solid rgba(255,255,255,.2);
    border-radius:30px;
    font-size:16px;
    color:#fff;
    padding:0 15px 0 15px;
    animation:shake .5s ease-in-out;
}
/* .error {
    padding-bottom: 20px;
} */
.bx{
    animation:shake .5s ease-in-out
}
.input-box input::placeholder{
    color:#fff
}
.input-box i{
    position:absolute;
    right:20px;
    top:30%;
    transform:translate(-50%);
    font-size:20px;
}
.wrapper .btn{
    width:100%;
    height:45px;
    background:#fff;
    border:none;
    outline:0;
    border-radius:40px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#333;
    font-weight:600;
    display:flex;
    justify-content:center;
    align-items:center;
}
.wrapper .btn:hover{
    background:var(--theatrix-red);
    color:var(--white);
}
.wrapper .register-link{
    font-size:14.5px;
    text-align:center;
    margin:20px 0 15px;
}
.register-link p a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
}
.register-link p a:hover{
    text-decoration:underline
}
input[type=number]{
    font-size:16px
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:1.5em;
    background-color:transparent;
    border:none
}
input[type=number]{
    padding-right:20px;
}
input[type=date]{
    appearance:textfield;
    -webkit-appearance:textfield;
    color:gray;
    cursor:pointer;
}
input[type=date]::-webkit-calendar-picker-indicator{
    background:0 0;
    color:transparent;
}
@keyframes shake{
    0%,100%{
        transform:translateX(0);
    }
    25%,75%{
        transform:translateX(-10px);
    }
    50%{
        transform:translateX(10px);
    }
}
.input-box input,.input-box select,.input-box textarea{
    width:100%;
    height:100%;
    background:0 0;
    border:none;
    outline:0;
    border:2px solid rgba(255,255,255,.2);
    border-radius:30px;
    padding-top: 20px;
    font-size:16px;
    color:grey;
    padding:0 15px 0 15px;
    animation:shake .5s ease-in-out
  }
  .input-box textarea{
    overflow:hidden;
    height:auto
  }
