@import url("../../../../styles.css");

.upcoming{
  background-size:cover;
  background-position:center;
  padding-block:var(--section-padding)
}
.upcoming .flex-wrapper{
  margin-bottom:50px
}
.upcoming .section-title{
  margin-bottom:30px
}
/* .filter-list{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap:10px
} */
/* .upcoming .filter-btn{
  color:var(--white);
  background:var(--raisin-black);
  font-size:var(--fs-11);
  font-weight:var(--fw-500);
  border:2px solid var(--gunmetal-1);
  padding:12px 26px;
  border-radius:50px
} */
/* .upcoming .filter-btn:hover{
  background:url(/assets/images/masks.png) no-repeat;
  background-size:cover
}
.upcoming .filter-btn:focus{
  background:var(--theatrix-red);
  border:none
} */
.upcoming .movies-list>li{
  min-width:100%;
  scroll-snap-align:start
}
:root{
  --fs-1:42px
}
.container{
  max-width:540px;
  margin-inline:auto
}
.movies-list>li{
  min-width:calc(33.33% - 20px);
  max-width:calc(20% - 15px)
}
@media (min-width:992px){
  .container{
      max-width:960px
  }
  .upcoming .flex-wrapper{
      display:flex;
      justify-content:space-between;
      align-items:center
  }
  .upcoming :is(.section-subtitle,.section-title){
      text-align:left
  }
  .upcoming .section-title{
      margin-bottom:0
  }
  .upcoming .movies-list>li{
      min-width:calc(33.33% - 20px)
  }
}
@media (min-width:1200px){
  :root{
      --fs-1:60px;
      --fs-4:26px
  }
  .container{
      max-width:1320px
  }
  .upcoming .movies-list>li{
      min-width:calc(25% - 22.5px)
  }
}
.container{
  padding-inline:15px
}
.h2{
  font-size:var(--fs-2)
}
.section-subtitle{
  color:var(--theatrix-red);
  font-size:var(--fs-11);
  font-weight:var(--fw-500);
  text-transform:uppercase;
  letter-spacing:1px;
  margin-bottom:10px;
  text-align:center;
  padding-top:50px
}
.section-title{
  text-align:center
}
.movies-list{
  display:grid;
  gap:50px
}
.movie-card{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between
}
.movie-card .card-banner{
  position:relative;
  background:var(--gunmetal-1);
  aspect-ratio:2/3;
  border-radius:10px;
  overflow:hidden;
  margin-bottom:20px;
  transition:var(--transition-1)
}
.movie-card .card-banner::after{
  content:"";
  position:absolute;
  inset:0;
  transition:var(--transition-1)
}
.movie-card .card-banner:hover{
  box-shadow:0 1px 2px hsla(0,0%,0%,.5)
}
.movie-card .card-banner:hover::after{
  background:hsla(0,0%,100%,.05)
}
.movie-card .card-banner img{
  width:100%;
  height:100%;
  object-fit:cover
}
.movie-card .title-wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:20px;
  margin-bottom:10px
}
.movie-card .card-title{
  color:var(--white);
  font-size:var(--fs-7);
  transition:var(--transition-1)
}
.movie-card .card-title:is(:hover,:focus){
  color:var(--theatrix-red)
}
.movie-card .title-wrapper time{
  color:var(--theatrix-gray);
  font-size:var(--fs-9);
  font-weight:var(--fw-500)
}
.movie-card .badge{
  color:var(--white)
}
.movie-card .duration{
  margin-left:auto
}
.movie-card :is(.duration,.rating){
  display:flex;
  align-items:center;
  gap:5px;
  color:var(--gainsboro);
  font-weight:var(--fw-500)
}
.movies-list.has-scrollbar{
  display:flex;
  justify-content:flex-start;
  gap:30px;
  overflow-x:auto;
  scroll-snap-type:inline mandatory;
  padding-bottom:25px
}
.has-scrollbar::-webkit-scrollbar{
  height:8px
}
.has-scrollbar::-webkit-scrollbar-track{
  background:0 0;
  box-shadow:0 0 0 2px var(--theatrix-red);
  border-radius:10px
}
.has-scrollbar::-webkit-scrollbar-thumb{
  background:var(--gainsboro);
  border-radius:10px;
  box-shadow:inset 0 1px 0 var(--black),inset 0 -1px 0 var(--black)
}
