@import url("../../../../styles.css");
.hero{
  background:url("/assets/images/bg-fixed.jpg") no-repeat;
  background-size:cover;
  background-position:center;
  min-height:750px;
  height:100vh;
  max-height:1000px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding-block:var(--section-padding);
}
.hero-content{
  margin-top:60px
}
.hero-subtitle{
  color:var(--theatrix-red);
  font-size:var(--fs-4);
  font-weight:var(--fw-700);
  margin-bottom:10px
}
.hero-title{
  margin-bottom:30px
}
.hero-title>strong{
  color:var(--theatrix-red)
}
@media (min-width:550px){
  :root{
      --fs-1:42px
  }
  .container{
      max-width:540px;
      margin-inline:auto
  }
  .hero{
      min-height:unset
  }
  .hero-content{
      margin-top:20px
  }
}
@media (min-width:768px){
  :root{
      --fs-2:36px
  }
  .container{
      max-width:720px
  }
  .hero-content{
      margin-top:90px
  }
}
@media (min-width:992px){
  .container{
      max-width:960px
  }
  .hero{
      background-position:right
  }
  .hero .container{
      width:950px
  }
  .hero-content{
      margin-top:100px;
      max-width:600px
  }
}
@media (min-width:1200px){
  :root{
      --fs-1:60px;
      --fs-4:26px
  }
  .container{
      max-width:1320px
  }
  .hero .container{
      width:1320px
  }
}
.btn{
  color:var(--white);
  font-size:var(--fs-11);
  text-transform:uppercase;
  letter-spacing:2px;
  display:flex;
  align-items:center;
  gap:10px;
  padding:16px 30px;
  border:2px solid var(--light-gray);
  border-radius:50px;
  transition:var(--transition-1)
}
.btn-primary:is(:hover,:focus){
  background:var(--light-gray);
  color:var(--xiketic)
}
#search-input{
  color:var(--white);
  font-size:var(--fs-8);
  padding:4px;
  border-radius:4px;
  margin-right:10px;
  background-color:transparent;
  outline:0;
}
.search-btn{
  position:relative;
  color:var(--white);
  cursor:pointer;
  font-size:20px;
}
.search-btn::after{
  content:"";
  position:absolute;
  top:1px;
  right:20px;
  background-color:transparent;
  width:2px;
  height:14px
}
.vertical{
  display:flex;
  align-items:center;
  border-left:2px solid #fff;
  padding-left:8px
}
.src{
  color:var(--white);
  letter-spacing:2px;
  display:flex;
  align-items:center;
  gap:10px;
  padding:16px 30px;
  border:2px solid var(--light-gray);
  border-radius:50px;
  transition:var(--transition-1)
}
.meta-wrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:center;
  gap:15px 25px;
  margin-bottom:50px
}
.badge {
  color: white;
  font-size: var(--fs-12);
  font-weight: var(--fw-700);
  border: 1px solid transparent;
  padding: 2px 10px;
  border-radius: 12px;
}
.badge-fill {
  background: white;
  color: var(--raisin-black);
}
.badge-outline {
  border-color: white;
}
.badge-wrapper,.ganre-wrapper{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  gap:5px 10px;
  color:var(--white)
}
.ganre-wrapper>a{
  color:var(--gainsboro);
  font-size:var(--fs-9);
  font-weight:var(--fw-500);
  transition:var(--transition-1)
}
.ganre-wrapper>a:is(:hover,:focus){
  color:var(--theatrix-red)
}
.bx,.bxs{
  font-size:14px;
}
.bx-search{
  font-size:22px;
}
.bxs-map {
  font-size: 17px;

}
